<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lab 1 - AboutUs</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="grid">
        <div class="header"> 
            <div class="head1">
                <h1>
                    solarPV
                </h1>
                <h2>
                    Research & Development
                </h2>
            </div>
            <div class="head2">
                <img src="logo.png" alt="solarPV Logo">
            </div>
            <div class="head3">
                <div>
                    <a href="comingSoon.html">Login</a> | 
                    <a href="registration.html">Register</a>
                </div>
                <!--ToDO: Make jQuery change this to logged in-->
                <div>
                    <h4>Welcome</h4>
                    <!--Button Logout-->
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="flatList">
                <ul>
                    <li><a href="home.html">Homepage</a></li>
                    <li><a href="comingSoon.html">Racks & Trackers</a></li>
                    <li><a href="comingSoon.html">PV Module</a></li>
                    <li><a href="comingSoon.html">PV Systems</a></li>
                    <li><a href="comingSoon.html">Data Analytics</a></li>
                    <li><a href="comingSoon.html">Cybersecurity</a></li>
                </ul>
            </div> 
        </div>
        <div class="main"> 
            <h1><u>About Us</u></h1>
            <h2>Luis A. Unzueta</h2>
            <h2>IFT 458</h2>
            <h2>Daniel Neal</h2>
            <h2>Fall 2021</h2>
        </div>
        <div class="footer"> 
            <p>solarPV</p>
            <p>Address, Phone, Email, Website @2019 All Rights Reserved</p>
            <div class="flatList">
                <ul>
                    <li><a href="comingSoon.html">Site Map</a></li>
                    <li><a href="comingSoon.html">Terms & Conditions</a></li>
                    <li><a href="comingSoon.html">Privacy Policy</a></li>
                    <li><a href="aboutUs.html">About Us</a></li>
                    <li><a href="comingSoon.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="index.js"></script>
  </body>
</html>