{% extends "solarPV/base.html" %}

{% block content %}
    <div id="lMenu" class="leftSection"> 
        <div id="hiddenLMenu">
            <h3><a href="">PV Module</a></h3>
            <ul>
                <li><a href="{% url 'solarPV-test&cert'%}">Testing & Certification</a></li>
                <li>PV Rating</li>
            </ul>
            <br>

            <h3><a href="">PV System and Performance</a></h3>
            <ul>
                <li>Monitoring & Inspection</li>
                <li>Performance Analysis</li>
                <li>COmpare System</li>
                <li>Certification</li>
            </ul>
            <br>

            <h3><a href="">Data Analytics</a></h3>
            <ul>
                <li>Module lifetime prediction</li>
                <li>Energy Prediction</li>
            </ul>
            <br>

            <h3><a href="">Cybersecurity and Smart Grid Technologie</a>s</h3>
            <ul>
            </ul>
            <br>

            <h3><a href="">Solar PV University</a></h3>
            <ul>
            </ul>
            <br>
        </div>
    </div>
    <div class="main"> 
        <h2 style="font-style: italic">Feature contents</h2>

    </div>
    <div id="rMenu" class="rightSection"> 
        <div id="hiddenLMenu">
            <h2>News & Events</h2>

            <a href="">PhotoVoltaic Technical Conference to take place in Marseille, France from 26 to 28 April 2017</a>
            <br><br>

            <a href="">Trump is next US president! What this means for climate change</a>
            <br><br>

            <a href="">Syrian forces recapture Aleppo</a>
            <br><br>

            <a href="">Senate votes on SCOTUS nominee</a>
            <br><br>
        </div>
    </div>
{% endblock content%}