{% extends "solarPV/base.html" %}

{% block content %}
    <div class="main"> 
        <h2>Registration Page</h2>
        <form id="registrationForm" onsubmit="validateRegistration()"class="registrationForm">
            <label>Username: </label><input id="userID" type="text" required><br>
            <label>Password: </label><input id="password" type="password"required><br>
            <label>Company: </label><select>
                <!-- ToDo: Get companies from database and display here -->
            </select><br>
            <label>First Name: </label><input type="text" required><br>
            <label>Middle Name: </label><input type="text" placeholder="Optional"><br>
            <label>Last Name: </label><input type="text" required><br>
            <label>Job Title: </label><input type="text" placeholder="Optional"><br>
            <label>Email: </label><input type="email" required><br>
            <label>Office Phone: </label><input type="tel" placeholder="123-456-7890"><br>
            <label>Cell Phone: </label><input type="tel" placeholder="123-456-7890"><br>
            <label>Appellation: </label><select>
                <option value="Dr.">Alabama</option>
                <option value="Mr.">Alaska</option>
                <option value="Ms.">Arizona</option>
                <option value="Mrs.">Arkansas</option>
            </select><br>
            <input onclick="validateRegistration()" type="submit" value="Submit">
            <!-- <button onclick="validateRegistration()" type="button">Submit</button> -->
        </form>
    </div>
{% endblock content%}