{% extends "solarPV/base.html" %}

{% block content %}
    <div class="main"> 
        <h2>Testing & Certification Search Dashboard</h2>
        <p> Enter ALL to display all certificates </p>
        <form method="POST">
            {% csrf_token %}
            <label>Certificate: </label><input type="text" name="key"><br>
            <button type="submit">Search</button>
        </form>
        </br>
        </br>
        <table>
            <tr>
                <th>Certificate Number</th>
                <th>User ID</th>
                <th>Client ID</th>
                <th>Report Number</th>
            </tr>
            {% for certificate in certificate_list %}
                <tr>
                    <td>{{ certificate.certificateNumber }}</td>
                    <td>{{ certificate.userID }}</td>
                    <td>{{ certificate.clientID }}</td>
                    <td>{{ certificate.reportNumber }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content%}