{% extends "solarPV/base.html" %}

{% block content %}
    <div class="main"> 
        <h2>Testing & Certification Search Dashboard</h2>
        <form id="registrationForm" class="registrationForm">
            <label>Certificate: </label><input type="text" required><br>
            <input onclick="" type="submit" value="Submit">
        </form>
<!--        <table>-->
<!--            {% for client in Clients %}-->
<!--                <tr>-->
<!--                    -->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--        </table>-->
        <div>
            {Client}
        </div>
    </div>
{% endblock content%}