{% extends "solarPV/base.html" %}

{% block content %}
    <div class="main"> 
        <h2>Web Portal Dashboard</h2>
        <form id="registrationForm" class="registrationForm">
            <label>Client: </label><input id="username" type="text" required><br>
            <label>Location: </label><input id="password" type="text"required><br>
            <label>Product: </label><input type="text" required><br>
            <label>Test Standard: </label><input type="text" required><br>
            <label>Certificate: </label><input type="text" required><br>
            <input onclick="" type="submit" value="Submit">
        </form>
    </div>
{% endblock content%}